{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - username: The display name for the current user.
 * - user_url: URL for the user page, which will display the login block for
 *   Anonymous users.
 * - last_login: The date and time of the last
 * - hide_for_anonymous: A boolean used to allow administrators to hide content
 *   from Anonymous users.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass('content') }}>
      <p>Hello {{ username }}!</p>

      {% if logged_in %}
        <p>Your last log in was {{ last_login }}</p>
        <p><a href="{{ user_url }}">Visit your profile</a></p>
        <p>{{ custom_message }}</p>
      {% else %}
        <p><a href="{{ user_url }}">Log in or create an account</a></p>
        {% if not hide_for_anonymous %}
          <p>{{ custom_message }}</p>
        {%  endif %}
      {% endif %}

    </div>
  {% endblock %}
</div>
